<div class="container mb-3">
    <mat-card class="shadow p-3 mb-5 ml-0 pl-1 bg-white rounded">
        <div class="content-header  d-flex">
            <h2>Belian</h2>
        </div><br>

        <mat-card-content>

            <!-- <button class="btn btn-secondary btn-print" (click)="cetak()">Cetak</button><br><br> -->

            <!-- Inside your HTML template -->
            <div class="row form-group">
                <div class="col-sm-2">
                    <label class="label_bm">Tarikh Belian</label><br>
                </div>
                <div class="col-sm-2">
                    <label for="fromDate" class="label_bm">Dari:</label>
                    <input type="date" id="fromDate" class="form-control" [(ngModel)]="fromDate" name="fromDate"
                        (change)="filterDate()">
                </div>
                <div class="col-sm-2">
                    <label for="toDate" class="label_bm">Hingga:</label>
                    <input type="date" id="toDate" class="form-control" [(ngModel)]="toDate" name="toDate"
                        (change)="filterDate()">
                </div>
            </div>
            <br>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label class="label_bm">Carian berdasarkan</label><br>
                </div>
                <div class="col-sm-4">
                    <select class="form-select" name="SearchBy" id="SearchBy" (change)="changeSearchBy($event)">
                        <option value="" disabled selected>--Pilih--</option>
                        <option *ngFor="let search of searchBy" [value]="search">{{search}}
                        </option>
                    </select>
                </div>
            </div><br>

            <span *ngIf=" showName"><br>
                <div class="row form-group">
                    <div class="col-sm-2">
                        <label class="label_bm">Nama Penjual </label><br>
                    </div>
                    <div class="col-sm-4">
                        <input #query (keyup)="filterNama(query.value)" type="text" class="form-control" id="nama"
                            name="name">
                    </div>
                </div><br>
            </span>

            <span *ngIf=" showNoPatg"><br>
                <div class="row form-group">
                    <div class="col-sm-2">
                        <label class="label_bm">No PatG </label><br>
                    </div>
                    <div class="col-sm-4">
                        <input #query (keyup)="filterNoPatG(query.value)" type="text" class="form-control" id="noPatG"
                            name="noPatG">
                    </div>
                </div><br>
            </span>

            <span>Bil.rekod transaksi getah dibeli : {{(filteredTrans)?.length}}</span><br><br>

            <div style="text-align: right;">
                <button class="btn-print button" (click)="displaySelected()" style="margin-right: 10px;">Cetak</button>
                <button class="btn-print buttonExcel" (click)="exportToExcel(filteredTrans, 'myData')">Export to
                    Excel</button>
            </div><br>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="tableheader">
                            <th scope="col">Bil</th>
                            <th scope="col">Tarikh</th>
                            <th scope="col">Nama Penjual</th>
                            <th scope="col">NoPatG</th>
                            <th scope="col">NoResit</th>
                            <th scope="col">Lateks (kg) </th>
                            <th scope="col">Sekerap (kg)</th>
                            <th scope="col">DRC</th>
                            <th scope="col">Harga/KG</th>
                            <th scope="col">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of filteredTrans; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{transaction.transDate | date:"dd/MM/yyyy 'at' h:mma"}}</td>
                            <td>{{transaction.nama}} </td>
                            <td>{{transaction.noPatG}} </td>
                            <td>{{transaction.noResit}}</td>
                            <td>{{transaction.lateks}} </td>
                            <td>{{transaction.sekerap}} </td>
                            <td>{{transaction.drc}}% </td>
                            <td>RM {{transaction.unitPrice|number : '1.2-2'}}</td>
                            <td>RM {{transaction.total|number : '1.2-2'}} </td>
                        </tr>

                        <tr class="success">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{totalLateks}}</td>
                            <td>{{totalSekerap}}</td>
                            <td></td>
                            <td></td>
                            <td>RM {{totalPrice | number : '1.2-2'}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </mat-card-content>
    </mat-card>
</div>