<div class="content-header  d-flex">
  <!-- <h2 class="">Belian Bulanan</h2> -->
</div><br>

<mat-card-content>

  <div class="table-responsive">

    <table class="table table-striped">
      <thead>
        <tr class="tableheader">
          <th scope="col">Bil</th>
          <th scope="col">Jenis Getah</th>
          <th scope="col">Bulan</th>
          <th scope="col">Tahun</th>
          <th scope="col">Harga</th>
          <th scope="col">DRC % </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let scheme of schemes; let i = index">
          <td>{{i + 1}}</td>
          <td>{{scheme.type}}</td>
          <td>{{scheme.bulan}} </td>
          <td>{{scheme.tahun}} </td>
          <td>{{scheme.harga}}</td>
          <td>{{scheme.drc}} </td>
        </tr>

      </tbody>
    </table>
  </div>

</mat-card-content>