.tableheader {
  background-color: #3e4141;
  color: rgb(234, 223, 223);
}

thead .tableheader tr th {
  color: white;
}

th {
  color: white;
  font-weight: 300;
}

.mat-icon {

  height: 15px;
  width: 15px;

}

.material-icons {
  font-size: 15px;
}