<!-- <!doctype html>
     <html lang="en"> -->
<!-- <head> -->
<!-- <title>Login 07</title> -->
<!-- <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <link rel="stylesheet" href="css/style.css"> -->

<!-- </head> -->
<!-- <body> -->
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">WELCOME TO RRIMNIAGA</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
            <div class="text w-100">
              <h2>Welcome to SignUp</h2>
              <p></p>
              <a href="" class="btn btn-white btn-outline-white" routerLink="/signIn">Sign In</a>
            </div>
          </div>
          <div class="login-wrap p-4 p-lg-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4">Sign Up</h3>
              </div>
              <!-- <div class="w-100">
                         <p class="social-media d-flex justify-content-end">
                           <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                           <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                         </p>
                       </div> -->
            </div>
            <form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
              <div class="form-group mb-3">
                <label class="label" for="username">Username</label>
                <input type="text" class="form-control" #UserName="ngModel" [(ngModel)]="user.UserName" name="UserName"
                  placeholder="Username" required>
                <!-- <input type="text" #UserName ngModel name="UserName" placeholder="Username" required> -->
              </div>
              <div class="form-group mb-3">
                <label class="label" for="password">Password</label>
                <input type="password" class="form-control" #Password="ngModel" [(ngModel)]="user.Password"
                  name="Password" placeholder="Password" required minlength="3">
                <!-- <input type="password" #Password ngModel name="Password" placeholder="Password" required> -->
              </div>

              <div class="form-group mb-3">
                <label class="label" for="email">Email</label>
                <input type="text" class="form-control" #Email="ngModel" name="Email" [(ngModel)]="user.Email" required
                  placeholder="Email" required>
                <!-- <input type="text" #UserName ngModel name="UserName" placeholder="Username" required> -->
              </div>

              <div class="form-group mb-3">
                <label class="label" for="firstName">FirstName</label>
                <input type="text" class="form-control" #FirstName="ngModel" name="FirstName"
                  [(ngModel)]="user.FirstName" placeholder="FirstName">
                <!-- <input type="text" #UserName ngModel name="UserName" placeholder="Username" required> -->
              </div>

              <div class="form-group mb-3">
                <label class="label" for="lastName">LastName</label>
                <input type="text" class="form-control" #LastName="ngModel" [(ngModel)]="user.LastName" name="LastName"
                  placeholder="LastName">
                <!-- <input type="text" #UserName ngModel name="UserName" placeholder="Username" required> -->
              </div>

              <div class="form-group">
                <button [disabled]="!userRegistrationForm.valid" type="submit"
                  class="form-control btn btn-primary submit px-3">Sign Up</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--        
         <div class="card-content white">
          <div class="row">
            <router-outlet></router-outlet>
          </div>
        </div> -->

<!-- <script src="assets/login/js/jquery.min.js"></script>
         <script src="assets/login/js/popper.js"></script>
         <script src="assets/login/js/bootstrap.min.js"></script>
         <script src="assets/login/js/main.js"></script> -->
<!--      
         </body>
       </html> -->